html * {
	font-family: Monospace, sans-serif;!important;
}

h1, h3{
text-align: center;	
}

/* general */
.section {
	padding: 1% 10%;
	margin-bottom: 0;
}

.section:before {
	background: rgba(6, 12, 34, 0.8);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

/*-------------------------------------------------------------- # Air Section --------------------------------------------------------------*/
#air {
	padding: 1% 0;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0% 30%;
}

/* set grid layout for images */
#grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

/* hide images by default */
.grid-item {
	transition: all .2s ease-in-out;
}

/* hide images by default */
.hidden {
	display: none
}

/* zoom effect when hovering over image */
.grid-item:hover {
	transform: scale(2);
	cursor: pointer;
}

/* red border for selected images */
.selected {
	border: 2px solid red;
}


/*-------------------------------------------------------------- # Buttons Section --------------------------------------------------------------*/
.button-container{
     text-align: center;
     width: 100%;
}
 #roll-dice, #reset {
     width: 45%;
     display: inline-block;
}
/* Button styles */
 .btn {
     display: inline-block;
     padding: 1em;
     font-size: 1em;
     font-weight: 600;
     text-align: center;
     text-decoration: none;
     white-space: nowrap;
     border-radius: 0.2em;
     transition: all 0.2s ease-in-out;
}
/* Primary button styles */
 .btn-primary {
     color: white;
     border: none;
}
/* Roll Dice button styles */
 .blue {
     background-color: #007bff;
}
/* Reset button styles */
 .red {
     background-color: #dc3545;
     margin-right: 1em;
}

#import-input{
	resize: none;
	white-space: nowrap;
}


 @media (max-width: 700px) {
    .section {
         padding: 2% 5%;
    }
     #air {
         padding: 2% 0;
    }
	.grid-item {
		transition: none;
	}

	.grid-item:hover {
		transform: none;
		cursor: pointer;
	}

	form {
		flex-wrap: nowrap;
		flex-direction: column;
		padding: 0%;
	}

	#grid {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(2, 1fr);
	}
}